$raspberry: #FF0F42;
$dark-raspberry: #990928;
$darkest-raspberry: #400410;

$muted-raspberry: #B21C3C;

$blue: #209DCC;
$dark-blue: #0282B2;

$lemon: #FFF328;

$lightest-gray: #eee;
$light-gray: #bbb;
$gray: #888;
$dark-gray: #555;
$darkest-gray: #333;
