
<div class="masthead">
  <div class="language-nav">
    <ul>
      <a style = href="">CSS</a>
      <a href="">HTML</a>
      <a href="">Javascript</a>
      <a href="">Ruby</a>
    </ul>

  </div>

  <img class="logo" src="assets/AA_Times_Logo.png">

  <div>
    <ul class="masthead-links">
      <li><time>Tuesday, October 18, 2016</time></li>
      <li><a>Today’s Paper</a></li>
      <li><a>Video</a></li>
      <li><button>77°F</button></li>
      <li>AAO<button style="color:green">+100%</button></li>
    </ul>
  </div>
</div>
