.leaderboard-list {
  list-style: decimal;
  list-style-position: inside;
  color: $light-gray;
  padding-left: 0;
  transition: 0.1s all linear;


  h6 {
    font-size: 16px;
    transition: all 0.2s linear;
  }

  li {
    padding: 10px;
    height: 20px;
    font-size: 16px;
    position: relative;
    margin: 4px 0;
    border: 1px solid $light-gray;
    color: $dark-raspberry;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s ease-out;

    &:hover {
      color: $raspberry;
      cursor: pointer;
      font-size: 20px;

      h6 {
        font-size: 20px;
      }

      .leaderboard-item-hover {
        opacity: 1;
        width: 200px;
      }
    }
  }
}

.leaderboard-item-hover {
  transition: all 0.2s ease-out;
  text-decoration: none;
  display: block;
  color: white;
  opacity: 0;
  width: 0px;
  font-size: 16px;
  white-space: nowrap;
  position: absolute;
  background: $blue;
  z-index: 2;
  padding: 10px;
  top: 20px;
  left: 200px;
  border-radius: 0 16px 16px 16px;
  box-shadow: 0 1px 3px $gray;
}
